<footer>
    <div>
        <p class="copyright">© Romain Chenais</p>
    </div>
</footer>
<script>
    (() => {
        document.querySelector(".copyright").innerText = `${new Date().getFullYear()} © Romain Chenais`;
    })();
</script>