<nav id="navbar-x" class="navbar">
	<div class="col">
		<button class="navbar-y-toggler">X</button>
	</div>
	<div class="col">
		<button class="logo" href="/"><img src="/img/logo.svg"></button>
	</div>
	<div class="col"></div>
</nav>
<div class="wire-1"></div>
<div class="wire-2"></div>
<div class="wire-3"></div>
<nav id="navbar-y" class="navbar">
	<ul class="nav-links">
		<li><a href="/"><img src="/img/home.svg">Home</a></li>
		<li><a href="/projects"><img src="/img/projects.svg">Projects</a></li>
		<li><a href="/sharables"><img src="/img/sharables.svg">Sharables</a></li>
		<li><a href="/history"><img src="/img/history.svg">History</a></li>
		<li><a href="/contact"><img src="/img/contact.svg">Contact</a></li>
	</ul>
	<div class="nav-y-bottom">
		<div class="time">
			<span class="hour">12</span>
			<p class="middle">:</p>
			<span class="minute">30</span>
			<p class="middle">:</p>
			<span class="second">00</span>
		</div>
		<ul class="social-networks">
			<li><a class="linkedin" href="https://www.linkedin.com/in/romain-chenais/"><img src="/img/linkedin.svg" alt="Linkedin"></a></li>
			<li><a class="github" href="https://github.com/NaorimSenchai"><img src="/img/github.svg" alt="GitHub"></a></li>
			<li><a class="gitlab" href="https://gitlab.com/naorimsenchai"><img src="/img/gitlab.svg" alt="GitLab"></a></li>
		</ul>
	</div>
</nav>
<div class="overlay-shadow"></div>
<script src="js/navbar.js"></script>