@import url("../styles.css");
@import url("../partials/navbar.css");
@import url("../partials/footer.css");

header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - var(--navbar-size));
	background-image: radial-gradient(var(--color-turquoise), var(--color-night-blue));
	background-position: center;
}

header .anim-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("/img/bg-diamonds.svg");
	animation: headerBg 3s linear infinite;
	pointer-events: none;
}
@keyframes headerBg {
	0% {
		background-position: 0 0;
	}
	99.999% {
		background-position: -32px 50px;
	}
	100% {
		background-position: 0 0;
	}
}