<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Romain Chenais - JS Full-Stack Web Developper</title>
	<link rel="stylesheet" href="css/pages/index.css">
</head>
<body>
	<header>
		<%- include("../partials/navbar.ejs") %>
		<div class="anim-container">
			<!-- EMPTY DIV FOR CSS ANIMATION -->
		</div>
		<div class="introduction-container">
			<div class="text-box">
				<h1>Romain Chenais</h1>
				<p>Full-Stack JS Developer</p>
			</div>
			<div class="photo-box">
				<img src="/img/pfp.jpg" alt="Photo">
			</div>
		</div>
	</header>
	<main>
		<section id="intro">
			<div class="container">
				<div class="row">
					<h2 class="title">Introduction</h2>
				</div>
				<div class="content">
					<div class="row">
						<div class="photo-box">
							<img class="intro-img" src="/img/panda_waving.webp" alt="Panda waving">
						</div>
						<div class="text-box">
							<p>Hi ! I'm Romain, a non-exclusively yet essentially JavaScript Full-Stack web developer with <span id="age"></span> years of existence on our dear Earth.</p>
						</div>
					</div>
					<div class="row">
						<div class="text-box">
							<p>Strongly attracted by the little world of programming, I started a web dev course in 2019 which leaded me to acquire some skills, both technical and human.</p>
						</div>
					</div>
					<div class="row">
						<div class="text-box">
							<p>As I enjoy each part of a web app development, my main personal goal is to become as versatile as possible when it comes to develop a project.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="soft-skills">
			<div class="anim-container">
				<!-- EMPTY DIV FOR CSS ANIMATION -->
			</div>
			<div class="container">

			</div>
		</section>
		<section class="history">
			
		</section>
	</main>
	<%- include("../partials/footer.ejs") %>
	<script>
		(() => {
			const birth = new Date('1999-07-15');
			const today = new Date();
			const age = (today.getFullYear() - birth.getFullYear() - 1) + (today.getMonth() - birth.getMonth() < 0 ? 0 : 1);
			document.querySelector("#age").textContent = age;
		})();
	</script>
</body>
</html>